# compiled output
**/dist
**/node_modules

# Logs
logs
*.log
npm-debug.log*

# OS
.DS_Store

# Tests
**/coverage

# IDEs and editors
/.idea

/scraping-output
!/scraping-output/.gitkeep

/compose-output
!/compose-output/.gitkeep

prod.env
db/firestore/*.json
