NODE_ENV=prod
PORT=8080
LOG_LEVEL=debug
LOG_COLLECTOR_TOKEN=
CORS_ORIGINS=localhost
SAVE_SEARCH_RESULT_AS_JSON=true
SAVE_RAW_SEARCH_RESULT_AS_JSON=true
MONGO_ADDRESS=
FIRESTORE_PROJECT_ID=kingboo
FIRESTORE_CLIENT_EMAIL=
FIRESTORE_CLIENT_KEY=
MQ_ADDRESS=
MQ_COLLECTING_SCENARIO_QUEUE_NAME=collecting-scenario
MQ_DATA_COLLECTION_NOTIFICATIONS_QUEUE_NAME=data-collection-notifications
MQ_USER_NOTIFICATIONS_QUEUE_NAME=user-notifications
MQ_DATA_TO_PROCESS_QUEUE_NAME=data-to-process
MQ_USER_NOTIFICATIONS_QUEUE_MESSAGE_TTL=10000

