NODE_ENV=prod
PORT=8080
LOG_LEVEL=debug
LOG_COLLECTOR_TOKEN=
CORS_ORIGINS=localhost
HOTELS_WITHOUT_UPDATE_STORAGE_DAYS=7
SCRAP_ACTIVITY_WITHOUT_UPDATE_RETENTION_DAYS=3
RAW_SEARCH_RESULT_RETENTION_HOURS=48
SAVE_SEARCH_RESULT_AS_JSON=true
SAVE_RAW_SEARCH_RESULT_AS_JSON=true
TOP_HOTELS_SELECT_LIMIT=10
MONGO_ADDRESS=
SEARCH_REQUESTS_RESOURCE_ADDRESS=http://search-queue-manager:8080
FIRESTORE_PROJECT_ID=kingboo
FIRESTORE_CLIENT_EMAIL=
FIRESTORE_CLIENT_KEY=should-have-escaped-new-line-chars
MQ_ADDRESS=
MQ_COLLECTING_SCENARIO_QUEUE_NAME=collecting-scenario
MQ_DATA_COLLECTION_NOTIFICATIONS_QUEUE_NAME=data-collection-notifications
MQ_USER_NOTIFICATIONS_QUEUE_NAME=user-notifications
MQ_DATA_TO_PROCESS_QUEUE_NAME=data-to-process
MQ_DATA_UPDATES_QUEUE_NAME=data-updates
MQ_USER_NOTIFICATIONS_QUEUE_MESSAGE_TTL=60000

